@import "ember-bootstrap/bootstrap";

$success: #5fcf80!important;

.wrapper {
  min-height: 100vh;
}

.flex-grow {
  flex-grow: 1;
}

.navbar-header {
  @media (max-width: map-get($grid-breakpoints, 'md' )) {
    width: 100%;
  }  
}

.navbar-brand {
  svg {
    width: 40px;
    transition: .75s;
  }

  path {
    transition: .5s;
  }

  &:hover svg {
    transform: rotate(-90deg);

    path {
      fill: #eee;
    }
  }
}

#gravatar {
  width: 210px;
}

.points-title {
  margin-bottom: 0;
  font-size: 2rem;
}

.card-img-top {
  max-width: 160px;
}

.box-shadow-dark {
  box-shadow: 0 0 5px #000;
}

// Colours

.text-success {
  color: $success;
}

.bg-success {
  background: $success;
}

.border-success {
  border-color: $success;
}

// Carousel 

.carousel-item img {
  min-width: 140px;
  width: 28%;
  max-width: 160px;
}

// Courses

.courses .btn {
  flex: 1 32.333333%;
  margin: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (max-width: map-get($grid-breakpoints, 'sm')) {
    flex: 1 100%;
  }
}