
@import "ember-bootstrap/bootstrap";

.wrapper {
  min-height: 100vh;
}

footer {
  box-shadow: 0 0 2px #000;
}

.flex-grow {
  flex-grow: 1;
}

.navbar-header {
  @media (max-width: map-get($grid-breakpoints, 'md' )) {
    width: 100%;
  }  
}

.navbar-brand {
  svg {
    width: 40px;
    transition: .75s;
  }

  path {
    transition: .5s;
  }

  &:hover svg {
    transform: rotate(-90deg);

    path {
      fill: #eee;
    }
  }
}

#gravatar {
  width: 210px;
}

.points-title {
  margin-bottom: 0;
  font-size: 2rem;
}

// Colours

.text-success {
  color: #5fcf80!important;
}

.bg-success {
  background: #5fcf80!important;
}

// Jumbotron 

.jumbotron {
  box-shadow: 0 0 5px #000;
}

// Carousel 

.carousel-item img {
  min-width: 130px;
  width: 35%;
  max-width: 200px;
}