<div class="jumbotron jumbotron-fluid">
  <div class="container d-flex justify-content-around align-items-center">
    <div>
      <h1 class="display-4">{{model.name}}</h1>
      <p class="lead">Points - {{model.points.total}}</p>
      <p class="lead">Badges - {{model.badges.length}}</p>
    </div>
    <img id="gravatar" class="rounded" src={{model.gravatar_url}} />
  </div>
</div>
<div class="container">

</div>